$main-font: "Roboto";
$title-font: "Cormorant";

$main-color: white;
$background-color: black;

$small: 12px;
$normal: 16px;
$medium: 20px;
$large: 32px;

$light: 300;
$regular: 400;
$bold: 700;

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.nav {
  padding: 16px 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  position: fixed;
  z-index: 105;
  width: 100%;
}

.nav_menu {
  cursor: pointer;
}

.nav_changedBackground {
  background: black;
  backdrop-filter: none;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: $title-font;
    font-weight: $light;
    font-size: $small;
    letter-spacing: 4.7px;
    text-transform: uppercase;
  }
}

.nav_logoIcon {
  margin-bottom: 12px;
}

.nav_logoIconExtraMargin {
  margin-left: 6px;
}

.nav_dropDown {
  font-weight: $light;
  font-family: $main-font;
  li {
    margin: 10px 0px;
    cursor: pointer;
  }
  ul {
    margin: 30px 0px;
  }
}

.nav_menuItemWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  img {
    margin-right: 8px;
  }
}

.menu_active {
  font-weight: $bold;
  display: inline-block !important;
}
