.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader {
  width: 40px;
  height: 40px;
}

.works {
  background-image: url(../../../static/img/BluredBackground.png);
  background-repeat: round;
  ul {
    margin: 0;
  }
  img {
    width: 100%;
    margin: 14px 0px;
    background-size: cover;
  }
}

.works_wrapper {
  padding-top: 100px;
}
